.idea/
.vs
.DS_Store

*.out
*.exe
*.class

.vscode/*

.packages
build/

*.dart.js
*.info.json

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

Manifest.toml

.env

*_cache/
/cache/

*.pyc
__pycache__

.eslintcache

logs
*.log
npm-debug.log*

*.~temp

.gradle
local.properties

node_modules/

coverage/
.nyc_output

config.json

*.sublime-project
*.sublime-workspace

.settings/
